<div *ngIf="FormGroup && configForm" [class]="configForm.formTheme">
  <mat-horizontal-stepper *ngIf="configForm.sections.length>1; else oneSection" [formGroup]="FormGroup" [linear]="false" #stepper>
    <mat-step *ngFor="let section of configForm.sections; let i = index" [formGroupName]="this.configForm.formName" [stepControl]="getFormGroup(section)" [errorMessage]="section.validationMessage">
      <ng-template matStepLabel>{{section.sectionTitle}}</ng-template>
      <app-form-card [section]="section" [FormGroup]="getFormGroup(section)" [FormGroupName]="section.formGrouping" (cardButtonClick)="cardButtonClick($event)"></app-form-card>
    </mat-step>
  </mat-horizontal-stepper>
  <ng-template #oneSection>
    <mat-toolbar color="primary">{{configForm.sections[0].sectionTitle}}</mat-toolbar>
    <app-form-card [section]="configForm.sections[0]" [FormGroup]="getFormGroup(configForm.sections[0])" [FormGroupName]="configForm.sections[0].formGrouping" (cardButtonClick)="cardButtonClick($event)"></app-form-card>
  </ng-template>
</div>