<form *ngIf="FormGroup && configForm" (ngSubmit)="onSubmit()" [formGroup]="FormGroup" novalidate>
  <mat-toolbar color="secondary">
    <mat-toolbar-row>
      <button mat-button routerLink="/">{{configForm.title}}</button>
      <span class="flex-field"></span>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-form-section [configForm]="configForm" [FormGroup]="FormGroup" (sectionButtonClick)="sectionButtonClick($event)"></app-form-section>
  <mat-toolbar color="warning" *ngIf="payLoad">
    <mat-toolbar-row>
      <div class="form-row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Saved the following values" [value]="payLoad">
        </mat-form-field>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</form>