<!-- <mat-card class="card-class" color="accent">
  <mat-card-header>
    <mat-card-title>{{card.cardTitle}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
    <mat-grid-list [cols]="card.cardColumns" [rowHeight]="card.cardRows">
      <mat-grid-tile *ngFor="let field of card.fields" [colspan]="field.columns" [rowspan]="field.rows">
        <app-form-field *ngFor="let field of card.fields" [field]="field" [FormGroup]="FormGroup" [FormGroupName]="FormGroupName"></app-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <app-form-field *ngFor="let field of card.fields" [field]="field" [FormGroup]="FormGroup" [FormGroupName]="FormGroupName" (fieldButtonClick)="fieldButtonClick($event)"></app-form-field>
  </mat-card-content>
</mat-card> -->
<mat-grid-list [cols]="section.sectionGridColumns" [rowHeight]="section.sectionGridRows">
  <mat-grid-tile *ngFor="let card of section.cards" [colspan]="card.columns" [rowspan]="card.rows" class="mat-grid-tile-selector">
    <mat-grid-tile-header>{{card.cardTitle}}</mat-grid-tile-header>
    <div class="app-form-field-wrapper">
      <app-form-field *ngFor="let field of card.fields" [field]="field" [FormGroup]="FormGroup" [FormGroupName]="FormGroupName" (fieldButtonClick)="fieldButtonClick($event)" class="app-form-field"></app-form-field>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<!-- <div *ngFor="let card of section.cards">
  <mat-toolbar color="accent">{{card.cardTitle}}</mat-toolbar>
  <div class="app-form-field-wrapper">
    <app-form-field *ngFor="let field of card.fields" [field]="field" [FormGroup]="FormGroup" [FormGroupName]="FormGroupName" (fieldButtonClick)="fieldButtonClick($event)" class="app-form-field"></app-form-field>
  </div>
</div> -->